button{
    height: 20px;
    background-color: aquamarine;
}

input{
    height: 20px;
    width:30%;
    margin-top: 20px;
}
header{
    font-size: 30px;
    height: 40px;
    background-color: rgb(187, 231, 231);
}
p{
    font-size: 25px;
}